input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.bg { 
  position: relative;
}
.bg::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://source.unsplash.com/user/atishayv27/likes/1920x1080");
  background-size: auto;
  background-repeat: repeat;
  width: 100%;
  height: 100%; 
  filter: grayscale(0.6) opacity(0.5);
}

.inside{
	position: relative;
}